<h1>Olá, seja bem vindo ao Litterae.</h1>

<p class="apresen">O Litterae é um site de incentivo a leitura e discussão, e funciona assim:
Todo mês, escolherei um livro para cada categoria, quem já leu o livro, pode escrever uma resenha, e o autor da resenha mais votada, ganha um livro no final do mês.</p>
</br>
<p class="apresen">Se você não leu o livro ainda, procure avaliar as resenhas e votar.</p>
</br>
<p class="apresen">Para votar, você precisa entrar no site usando sua conta no <%= link_to "Twitter", "/auth/twitter"%>. Quanto mais votos a redação tiver, melhor! Então, compartilhe o link da sua redação nas redes sociais e peça para seus amigos votarem!</p>

<center><%= link_to "Ler Resenhas", wordings_path, class: "btn btn-default" %></center>
<br>