<b>Você não consegue votar ou escrever?</b>
<p>Pra votar ou escrever você precisa estar logado com sua conta do Twitter.</p>

<b>Eu não tenho uma conta no Twitter!</b>
<p>Por enquanto nossos usuarios só podem usar as ferramentas com uma conta vinculada ao Twitter...</p>