<h1>Estou perdido</h1>
<b>Não consigo votar/escrever!</b>
<p>Pra votar ou escrever você precisa estar logado com sua conta do Twitter.</p>

<b>Não consigo votar mais de uma vez na mesma redação?</b>
<p>Não né. Mas você pode votar em outras redações.</p>

<b>Eu não tenho uma conta no Twitter!</b>
<p>Nossos usuarios só podem usar as funções com uma conta vinculada ao Twitter, por enquanto.</p>
<br>