<h1>Sobre o Litterae</h1>

<p>Oi, meu nome é Caladan e sou o criador e administrador do Litterae.</p>

<p>Tive a ideia de criar o Litterae no começo deste ano, e para reduzir os custos de desenvolvimento decidi aprender Ruby on Rails e fazer este projeto.</p>

<p>Como a maior parte do material que usei para estudar foi gratuito e aberto, achei justo fazer o mesmo com esse aplicativo, então, se você estiver interessado pode visitar <a href="#">esse link</a> do Github e dar uma olhada no código. É claro que esse código não está nada bonito e você vai perceber que eu não sou mestre em programação.</p>
<br>