<div class="pull-right">
<%= pluralize @wording.reputation_for(:votes).to_i, "vote" %> |
<%= link_to "up", vote_wording_path(wording, type: "up"), method: "post" %> |
<%= link_to "down", vote_wording_path(wording, type: "down"), method: "post" %>
</div>