<h1> Textos em <%= @category.name %> </h1>
<% @category.wordings.each do |wordings| %>

  <b><%= wordings.title %></b><br>
  <p><%= wordings.text %></p>

<% end %>

<%= link_to "Escreva também!", new_wording_path %>
