  <footer class="bs-docs-footer">
    <div class="container-footer">
      <p>Feito com <i class="fa fa-heart"></i>, por @CaladanCadarn</p>
      <div class="bs-docs-footer-links">
        <ul>
        <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
        <li><a href="#"><i class="fa fa-github-square fa-2x"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube-play fa-2x"></i></a></li>
        </ul>
      </div>
      <div class="bs-docs-footer-links">
        <ul>
          <li><%= link_to "Sobre",  static_page_sobre_path %></li>
          <li>·</li>
          <li><%= link_to "Contato", static_page_contato_path %></li>
        </ul>
      </div>
    </div>
  </footer>