<div class="navbar navbar-simple navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Litterae", root_path , id: "logo" %>
        <nav>
          <ul class="nav navbar-nav pull-right">
            <% if current_user %>
              <li><%= link_to "Logado como #{current_user.name}", current_user %></li>
              <li><%= link_to "Sair", "signout" %></li>
            <% else %>
              <li><%= link_to "Entrar", "/auth/twitter"%></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
</div>
